@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #1230da;
  --secon-bg-color: #292e33;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0 10px #12f7ff;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3), 0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3), 0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3), 0 0 150px rgba(18, 247, 255, 0.3);
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--hover-color);
  border-radius: 5rem;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid var(--secon-bg-color);
  padding: 12px 10%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

span {
  color: var(--hover-color);
}

.navlist {
  display: flex;
  gap: 2rem;
}

.navlist a {
  color: var(--text-color);
  font-size: 18px;
  padding: 10px 20px;
}

.navlist a:hover {
  color: var(--hover-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6), 0 0 150px rgba(18, 247, 255, 0.6);
}

.navlist a.active {
  color: var(--hover-color);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  color: var(--secon-bg-color);
  display: none;
}

section {
  padding: 100px 10%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4rem;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}

.change-text h3 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}

.change-text h3 .word .letter {
  transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
  transform: rotateX(-90deg);
}

.home-content p {
  color: #bdbdbd;
  line-height: 1.6;
}

.info-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 1rem 0 2rem;
}

.info-box h5 {
  font-weight: 600;
  color: var(--hover-color);
  font-size: 1rem;
}

.info-box span {
  font-size: 0.9rem;
  color: #bdbdbd;
}

.btn-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 45px;
}

.btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  padding: 10px 10px;
  background: var(--hover-color);
  color: var(--bg-color);
  font-weight: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid var(--hover-color);
}

.btn.hover {
  color: var(--hover-color);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.4s;
}

.btn:hover::before {
  width: 100%;
}

.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

.btn:nth-child(2):hover {
  color: var(--bg-color);
}
.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icons {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 40px;
}

.social-icons a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: 0.6s;
  box-shadow: 0 0 0.3rem #12f7ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icons a i {
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: var(--bg-color);
}

.social-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-color);
  z-index: -1;
  transition: 0.4s;
  z-index: -1;
}

.social-icons a:hover::before {
  width: 100%;
}

.img-box {
  text-align: center;
}

.img-box img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.home-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.liquid-shape {
  position: absolute;
  width: 100%;
  height: 500px;
  z-index: -1;
  top: 10%;
}

.liquid-shape:nth-child(2) {
  filter: blur(58px);
}

/* About section csss  */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  background: var(--secon-bg-color);
}

.about .img-about {
  text-align: center;
  position: relative;
}

.about .img-about img {
  max-width: 400px;
  width: auto;
}

.about-content span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.about-content p {
  color: #fdfdfd;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.info-about1,
.info-about2,
.info-about3 {
  background: var(--bg-color);
  font-size: 0.5rem;
  position: absolute;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 100;
  animation: 6s linear infinite;
}

.info-about1 {
  left: 10%;
  top: 34%;
}

.info-about2 {
  left: 66%;
  top: 15%;
}

.info-about3 {
  left: 61%;
  top: 70%;
}

.img-about span {
  color: var(--hover-color);
  font-size: 1rem;
  font-weight: 600;
}

/* services section css */
.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}

.main-text h2 {
  font-weight: 700;
  font-size: var(--big-font);
}

.main-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
}

.section-service .service-box {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform 0.4s;
  border-radius: 10px;
}

.section-btn {
  flex: 1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--hover-color);
  transition: transform 0.4s;
  border-radius: 10px;
}

.service-btn {
  width: auto;
  justify-content: center;
}

.service-box:hover {
  transform: translateY(-0.7rem);
}

.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}

.service-box h3 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.service-box p {
  margin: 0.5rem 0 1.5rem 0;
  font-weight: 300;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
}

/* Skills section css */
.Skills {
  background: var(--secon-bg-color);
  padding: 50px 20px;
}

.Skills-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
  transition: transform 0.3s ease;
}

.Skills-main:hover {
  transform: scale(1.02);
}

.Skills-main h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  align-items: center;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.Skills-main:hover h3 {
  color: var(--hover-color);
}

.Skills-left .Skills-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.Skills-left .Skills-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

.Skills-bar .bar span {
  width: 0%; /* Mulai dari 0% untuk animasi dari kiri ke kanan */
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: 0 0 20px var(--hover-color), 0 0 40px var(--hover-color),
    0 0 60px var(--hover-color);
  transition: width 2s ease;
}

/* Specific widths and animations for each skill bar */
.Skills-bar .bar .Canva-Photoshop-Pixellab {
  width: 65%;
  animation: Canva-Photoshop-Pixellab 2s ease forwards;
}

.Skills-bar .bar .Html-Css-javaScript {
  width: 20%;
  animation: Html-Css-javaScript 3s ease forwards;
}

.Skills-bar .bar .Capcut {
  width: 25%;
  animation: Capcut 4s ease forwards;
}

/* Keyframes for animations (dari kiri ke kanan) */
@keyframes Canva-Photoshop-Pixellab {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

@keyframes Html-Css-javaScript {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@keyframes Capcut {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}

/* Efek interaktif: Saat hover pada .Skills-main, animasi ulang dari 0% */
.Skills-main:hover .Skills-bar .bar span {
  width: 0% !important;
  animation: none;
  transition: width 2s ease;
}

.Skills-main:hover .Canva-Photoshop-Pixellab {
  animation: Canva-Photoshop-Pixellab 2s ease forwards;
}

.Skills-main:hover .Html-Css-javaScript {
  animation: Html-Css-javaScript 3s ease forwards;
}

.Skills-main:hover .Capcut {
  animation: Capcut 4s ease forwards;
}

/* Projects section css */
.fillter-buttons {
  margin: 2rem;
  text-align: center;
}

.fillter-buttons .btn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: var(--text-color);
}

.fillter-buttons .btn:hover {
  color: var(--hover-color);
}

.portofolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.port-box {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background: #292e33;
  display: flex;
  grid-template-rows: 1fr auto;
  align-items: center;
  border: 2px solid var(--hover-color);
  box-shadow: var(--neon-box-shadow);
}

.port-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.port-img img {
  width: 100%;
  opacity: 0.5s;
  height: 100%;
  transition: 0.5s;
}

.port-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), #12f7ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  padding: 0 2rem;
}

.port-box:hover .port-content {
  opacity: 1;
}

.port-box:hover .port-img img {
  transform: scale(1) 0.1;
}

.port-content h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.port-content p {
  font-size: 0.8rem;
  margin: 0.5rem 0 15rem 0;
}

.port-content a {
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--hover-color);
  outline: 2px solid #fff;
}

.port-content a i {
  font-size: 1.3rem;
  color: var(--bg-color);
}

/* contact section css */
.contact {
  background: var(--secon-bg-color);
  width: 100%;
}

.contact form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contact form .input,
.contact form .textarea {
  width: 100%;
  color: var(--text-color);
  background: var(--bg-color);
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}

/* footer section css */
footer {
  padding: 1.5rem 10%;
  display: flex;
  align-items: center;
  justify-self: space-between;
}

footer p {
  color: #bdbdbd;
}

footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--text-color);
  background: var(--hover-color);
  padding: 0.6rem;
  border-radius: 5px;
}

footer a i {
  font-size: 1.5rem;
}

/* parallox */
.scroll-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: all 2s;
}

.scroll-bottom {
  opacity: 0;
  transform: translateY(300px);
  transition: 3s;
}

.scroll-top {
  opacity: 0;
  transform: translateY(-300px);
  transition: 3s;
}

.show-items {
  opacity: 1;
  transform: translateX(0);
}

/* keyframes */
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  30% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  60% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
  85% {
    border-radius: 6% 31% 66% 34% / 21% 30% 70% 79%;
  }
}

@keyframes Canva {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes HTML {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes Capcut {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

/* Break Points */
@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 15px 5%;
  }
  footer {
    padding: 15px 5%;
  }
  section {
    padding: 50px 5%;
  }
  .navlist a {
    padding: 8px 15px;
  }

  :root {
    --big-font: 2.2rem;
    --normal-font: 1.8rem;
    --neon-box-shadow: 0 0 0.8rem #12f7ff;
    --h2-font: 3rem;
  }

  .home-content {
    margin-top: 5rem;
  }

  .social-icons {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }

  #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
  .navlist {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0.5%;
    transition: all 0.45s ease;
  }
  .navlist a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .navlist.open {
    top: 100%;
  }

  .home {
    grid-template-columns: 1fr;
  }
  .home-img {
    margin-bottom: 5rem;
  }

  .img-box {
    margin-bottom: 5rem;
  }

  .liquid-shape {
    width: 80%;
    left: 10%;
    top: 13%;
  }

  .about {
    flex-direction: column-reverse;
  }

  .skill-main {
    grid-template-columns: 1fr;
  }

  .fillter-buttons {
    margin: 2.5rem 0;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 80%;
  }
  footer p {
    font-size: 0.6rem;
  }
  .fillter-buttons .btn {
    font-size: 0.8rem;
  }
  .img-about img {
    width: 100px;
  }
  .info-about1,
  .info-about2,
  .info-about3 {
    display: none;
  }

  .img-about p {
    font-size: 1rem;
  }
}
